@model Cashier 

@{
    ViewData["Title"] = "Create Cashier";
    SelectList branches = new SelectList(ViewBag.Branches, "ID", "BranchName");
}

<h1>Create Cashier</h1>

<h4>Cashier</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="CashierName" class="control-label">Name</label>
                <input asp-for="CashierName" class="form-control" />
                <span asp-validation-for="CashierName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BranchID" class="control-label">Branch</label>
                <select asp-for="BranchID" class="form-control" asp-items="branches">
                    <option value="0">-- Select Branch --</option>

                </select>
                <span asp-validation-for="BranchID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary mt-2 mb-2" />
            </div>
        </form>
        <a class="btn btn-secondary" asp-action="Index">Back to List</a>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

